mixin menu-header(classUl,mainClass,classLi,nameOne,nameTwo,nameThree,nameFour,nameFive,expandMore)
  ul(class=classUl)
    li(class = classLi)
      a.header__ul--about-us(class=mainClass href="") #{nameOne}
    li(class = classLi)
      a(class=mainClass class="header__ul--service" href="") #{nameTwo}
    if (expandMore)
      .header__menu--img #{expandMore} 
    li(class = classLi)
      a(class=mainClass class="header__ul--vacancy" href="") #{nameThree}
    li(class = classLi)
      a(class=mainClass class="header__ul--news" href="") #{nameFour}
    li(class = classLi)
      a(class=mainClass class="header__ul--agreements" href="") #{nameFive}
    if (expandMore)
        .header__menu--img #{expandMore} 