mixin menu-header(mainClass,nameOne,nameTwo,nameThree,nameFour,nameFive)
  ul.header__ul
    li
      a(class=mainClass class="header__ul--about-us" href="") #{nameOne}
    li
      a(class=mainClass class="header__ul--service" href="") #{nameTwo}
    .header__menu--img-service.material-icons-outlined expand_more  
    li
      a(class=mainClass class="header__ul--vacancy" href="") #{nameThree}
    li
      a(class=mainClass class="header__ul--news" href="") #{nameFour}
    li
      a(class=mainClass class="header__ul--agreements" href="") #{nameFive}
    .header__menu--img-service.material-icons-outlined expand_more