mixin menu-footer(classMenu,punktOne,punktTwo,punktThree,punktFour,punktFive)
  ul(class=classMenu)
    li(class="footer__menu--link footer__menu--first"  href="") #{punktOne}
    li
      a(class="footer__menu--link" href="") #{punktTwo}
    li
      a(class="footer__menu--link" href="") #{punktThree}   
    li
      a(class="footer__menu--link" href="") #{punktFour}
    li
      a(class="footer__menu--link" href="") #{punktFive}
