mixin menu-footer(classMenu,classLink,punktOne,punktTwo,punktThree,punktFour,punktFive)
  ul(class=classMenu)
    li
      a(class=classLink href="") #{punktOne}
    li
      a(class=classLink href="") #{punktTwo}
    li
      a(class=classLink href="") #{punktThree}   
    li
      a(class=classLink href="") #{punktFour}
    li
      a(class=classLink href="") #{punktFive}
