.buttons
  .buttons__header #{buttons}
  .buttons__block
    .buttons__background
      a(href="" class="button__backgroung") #{textButton} 
      a(href="" class="button__backgroung button__opacity") #{textButton} 
    .buttons__border
      a(href="" class="button__border") #{textButton} 
      a(href="" class="button__border button__opacity") #{textButton} 
    .buttons__text
      a(href="" class="button__text") #{textButton} 
      a(href="" class="button__text") #{textButton} 
    .buttons__price 
      a(href="" class="button__price") Перейти к оплате
      .button__arrow arrow_forward 